<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ作成</title>
    <link rel="stylesheet" href="css/blog_register_style.css">
</head>
<body>
    <header>
        <nav class="pc">
            <div class="pc-inner">
                <ul class="pc-list">
                    <li class="pc-list__item"><a href="/">ホーム</a></li>
                    <li class="pc-list__item"><a href="/logout">ログアウト</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="main-inner">
            <section class="create-blog-section">
                <h2>ブログ作成</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="blog-details">
                        <div class="blog-details_flex">
                            <div>ブログ名</div>
                            <input type="text" name="blogTitle" value="" id="blogTitle">
                        </div>
                        <div class="blog-details_flex">
                            <div>カテゴリー</div>
                            <select name="blogCategory">
                                <option value="">カテゴリーを選択</option>
                                <option value="旅行">旅行</option>
                                <option value="食べ物">食べ物</option>
                                <option value="その他">その他</option>
                            </select>
                        </div>
                        <div class="blog-details_flex">
                            <div>ブログ画像</div>
                            <input type="file" name="blogImage">
                        </div>
                        <div class="blog-details_flex">
                            <div>ブログ内容</div>
                            <textarea name="blogContent" placeholder="ブログの内容を入力してください"></textarea>
                        </div>
                    </div>
                    <div class="blog-details_flex">
                        <button class="publish" type="submit">投稿</button>
                        <button class="back-btn" onclick="history.back();" type="button">戻る</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <footer>
        <div>
            <small>&copy; 2025 晏暁欧</small>
        </div>
    </footer>

</body>
</html>